.login-form {
  width: 30%;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
}
label {
  width: 100px;
}
.form-row {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}
input {
  width: 50%;
  height: 20px;
}
button {
  height: 2rem;
  background: cadetblue;
  border: none;
}
