<div class="todoitem-details-container">
  <h2>Create todoitem</h2>
  <form (ngSubmit)="saveChanges()" class="todoitem-form" [formGroup]="detailsForm">
    <div class="form-item">
      <label for="created">Created</label>
      <div class="form-row" id="created">{{created}}</div>
    </div>
    <div class="form-item">
      <label for="status">Status</label>
      <div class="form-row" id="status">Created</div>
    </div>
    <div class="form-item">
      <label for="content">Content</label>
      <input class="form-row" id="content" formControlName="content">
    </div>
    <a [routerLink]="['']" class="back-button">Back</a>
    <button class="submit-button" type="submit" [disabled]="!detailsForm.valid || detailsForm.disabled">Save</button>
  </form>
</div>

