.container-todoitemlist {
  display: flex;
  flex-direction: column;
}
.todoitemlist {
  display: flex;
  flex-direction: column;
  border: 2px solid darkgrey;
  border-radius: 2px;
  color: black;
}
